<div class="w-full flex justify-center pt-16">
    <div class="w-full max-w-7xl p-4 m-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
        <div class="flex items-center justify-between mb-8">
            <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">Cart</h5>
        </div>
        <div class="flow-root">
            <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
                <li *ngFor="let p of cart" class="p-3 rounded-md hover:shadow-inner hover:shadow-blue-700">
                    <div class="flex items-center">
                        <div class="flex-shrink-0">
                            <img class="w-20 h-20 rounded-full" src="{{p.image}}" alt="Neil image">
                        </div>
                        <div class="flex-1 min-w-0 ms-4">
                            <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                {{p.name}}
                            </p>
                            <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                {{p.category.nameCat}}
                            </p>
                        </div>
                        <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                            ${{p.price*p.quantity}}
                        </div>
                    </div>
                </li>
                <li class="pt-6 px-14">
                    <div class="flex items-center justify-end">
                        <p class="text-lg font-medium text-gray-900 truncate dark:text-white">
                           Total: ${{Total()}}
                        </p>
                    </div>
                </li>
            </ul>
            <div class="w-auto flex justify-center mt-8">
                <button class="text-gray-200 bg-blue-600 rounded-xl px-24 py-3 text-lg">Confirm Order</button>
            </div>
        </div>
    </div>
</div>