<div class='w-full max-h-screen bg-white pt-16'>
  <div class='grid gap-5 p-10'>
    <div class='dark:bg-gray-800 grid md:grid-cols-6 gap-10 bg-white rounded-lg shadow-2xl shadow-blue-800 p-4'>
      <div class='col-span-3 h-[250px] md:h-[450px] relative'>
        <img src="" alt="banniere"  class='absolute w-full h-full object-cover rounded-xl'/>
      </div>
      <div class='col-span-3 flex flex-col justify-around'>
        <h2 class="mb-2 text-xl font-semibold leading-none text-gray-900 md:text-2xl dark:text-white">Apple iMac 25"</h2>
        <p class="mb-4 text-xl font-extrabold leading-none text-gray-900 md:text-2xl dark:text-white">$2999</p>
        <dl>
          <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">Details</dt>
          <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">Standard glass ,3.8GHz 8-core 10th-generation Intel Core i7 processor, Turbo Boost up to 5.0GHz, 16GB 2666MHz DDR4 memory, Radeon Pro 5500 XT with 8GB of GDDR6 memory, 256GB SSD storage, Gigabit Ethernet, Magic Mouse 2, Magic Keyboard - US.</dd>
        </dl>
        <dl class="flex items-center space-x-6">
          <div>
            <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">Category</dt>
            <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">Electronics/PC</dd>
          </div>
          <div>
            <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">Item weight</dt>
            <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">12kg</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</div>
